.nav {
  position: relative;
  display: flex;
  padding-top: 27px;
  padding-bottom: 18px;

  @include onTablet {
    grid-column: span 3;
    padding-top: 38px;
    justify-content: start;
    gap: 38px;
  }

  @include on640-700px {
    gap: 26px;
  }

  @include onDesktop {
    grid-column: span 7;
    gap: 102px;
  }

  &::after {
    position: absolute;
    content: '';
    border: 1px solid #ccc;
    width: 100%;
    top:126px;

    @include onTablet {
      // transform: rotate(90deg);
      // width: 50%;
      // left: 256px;
      display: none;
    }
  }

  &__close {
    background-image: url(../images/close-icon.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-right: 28px;
    width: 24px;
    height: 24px;
    transition: transform 300ms;

    @include onTablet {
      padding-right: 0;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 28px;

    @include onDesktop {
      gap: 20px;
    }
  }

  &__item {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: IBM Plex Sans, sans-serif;
    width: 100px;
    font-weight: 500;
    font-size: 16px;
    transition: transform 300ms;

    @include on640-700px {
      font-size: 14px;
    }

    @include onDesktop {
      width: 168px;
      font-size: 22px;
    }

    &:hover {
      transform: scale(1.2);
      color: #ff6e00;
    }
  }

  &__item:nth-child(2n+1) {
    margin-bottom: 20px;
  }
}
