.tickets {
  display: flex;
  flex-direction: column;
  align-items: center;


  @include onTablet {
    padding-inline: 34px 0;
    padding-top: 128px;
  }

  &__title {
    font-family: $montserrat-fonts;
    color: $main-text-color;
    font-weight: 700;
    font-size: 45px;
    padding-block: 20px;
    text-align: center;

    @include onTablet {
      text-align: left;
      padding-block: 0 38px;
      font-size: 54px;
      line-height: 120%;
    }

    @include onDesktop {
      padding-block: 0 90px;
      font-size: 72px;
      line-height: 120%;
    }
  }

  &__buy-button {
    position: relative;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    border: 1px solid #1A5A4C;
    width: 100%;
    max-width: 280px;
    height: 50px;
    transition: transform 300ms;

    @include onTablet {
      align-self: start;
      text-align: left;
      max-width: 270px;
      height: 70px;
    }

    @include onDesktop {
      align-self: end;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__mark-events {
    display: none;
    position: absolute;
    transform: rotate(-90deg);
    color: $blue-gray-color;
    font-weight: 700;
    font-size: 14px;
    top: 450px;
    left: 20px;

    @include onDesktop {
      display: block;
    }

    &::before {
      position: absolute;
      content: '';
      color: $green-page-color;
      border: 1px solid $green-page-color;
      width: 70px;
      right: 50px;
      top: 8px;
    }
  }

}

.buy-button {
  &__green-square {
    background-color: $green-page-color;
    background-image: url(../images/button-vector.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 24px;

    @include onTablet {
      padding: 34px;
    }
  }

  &__text {
    color: $main-text-color;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    left: 80px;
    top: 14px;

    @include onTablet {
      left: 68;
      top: 24px;
    }
  }
}
