.top-bar {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 60px;
  z-index: 1;

  @include onTablet {
    @include pageGrid;
    height: 72px;
    top: 15px;
    left: 34px;
  }

  @include onDesktop {
    left: 56px;
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 300ms;
  }

  &__item:hover {
    transform: scale(1.2);
  }

  &__item:hover {
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    background-image: url(../images/burger-menu.png);
    left: 0;
    height: 100%;
    width: 24px;
  }

  &__logo {
    position: absolute;
    background-image: url(../images/logo.png);
    left: -20px;
    width: 100%;
    height: 100%;
    text-align: center;

    @include onTablet {
      left: -50px;
      width: 220px;
      grid-column: 4 / 7;
    }

    @include onDesktop {
      left: -20px;
      width: 170px;
      grid-column: 7 / 9;
    }
  }
}
