.top-bar {
  position: relative;
  // grid-column: span 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 300px;

  @include onTablet {
    grid-column: 4 / -1;
    padding-bottom: 384px;
  }

  @include onDesktop{
    grid-column: 6 / -1;
    padding-bottom: 655px;
  }

  &__item {
    background-repeat: no-repeat;
  }

  &__item:hover {
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    // background-image: url(../images/burger-menu.png);
    left: 20px;
    top: 26px;
    width: 24px;
    height: 24px;

    @include onTablet {
      position: fixed;
      left: 34px;
      top: 36px;
    }
  }

  &__logo {
    display: block;
    padding-top: 10px;
    // background-image: url(../images/logo.png);
    text-align: center;
    width: 100vw;
    height: 61px;
    top: 9px;
    // left: 44vw;

    @include onTablet {
      top: 15px;
      width: 220px;
      grid-column: 4 / 6;
    }

    @include onTablet {
      width: 170px;
      grid-column: 6 / 8;
    }
  }
}
