.working-hours {
  position: relative;
  color: #fff;
  // height: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  padding-top: 24px;

  column-gap: 20px;

  @include onTablet {
    grid-column: span 3;
    padding-block: 40px;

    @include pageGrid;
  }

  @include onDesktop {
    grid-column: span 5;
    // padding-block: 40px;
  }

  &__title {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 141%;

    @include onTablet {
      grid-column: span 6;
    }

    @include on640-700px {
      font-size: 14px;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__days {
    padding-bottom: 16px;

    @include onTablet {
      grid-column: span 3;
      padding-bottom: 0;
    }

    @include on640-700px {
      font-size: 11px;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  // &__day {

  // }

  &__prescription {
    font-weight: 400;

    @include onTablet {
      grid-column: 4 / 6;
    }

    @include on640-700px {
      font-size: 11px;
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
