@import 'utils';
@import 'fonts';
@import 'typography';

@import './blocks/header';
@import './blocks/top-bar';
@import './blocks/tickets';

@import './blocks/menu';
@import './blocks/nav';
@import './blocks/working-hours';

@import './blocks/main';
@import './blocks/events';

@import './blocks/subscribe';

body {
  font-family: Montserrat, sans-serif;
  font-family: IBM Plex Sans, sans-serif;
  font-style: normal;

  background: $c-gray;
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
}
