$c-gray: #eee;
$main-text-color: #0F0E08;
$green-page-color: #1A5A4C;
$montserrat-fonts: Montserrat, sans-serif;
$grid-columns-count: column-count 2;
$blue-gray-color: #687480;
$red-page-color: #F14A27;
$dark-gray-color: #4E4E4E;
